*~
desktop.ini
/_emacs.d/url/
/_emacs.d/var/
/_emacs.d/server/
/_emacs.d/elpa/
/_emacs.d/recentf
/_emacs.d/local.el
/_emacs.d/smex-items
/_emacs.d/.emacs.desktop
/_emacs.d/.emacs.desktop.lock
/_emacs.d/projectile-bookmarks.eld
/_emacs.d/projectile.cache
/_emacs.d/tramp
/_emacs.d/eshell/history
/_emacs.d/transient/history.el
/_emacs.d/smex-items
/_emacs.d/eshell/lastdir
/_emacs.d/FsAutoComplete/
/_emacs.d/elpy/rpc-venv/
/_emacs.d/.cache/
/_emacs.d/straight/
