url/
var/
server/
elpa/
recentf
local.el
smex-items
.emacs.desktop
.emacs.desktop.lock
projectile-bookmarks.eld
projectile.cache
tramp
eshell/history
transient/history.el
smex-items
eshell/lastdir
FsAutoComplete/
elpy/rpc-venv/
.cache/
straight/
bookmarks
.org-id-locations
org-roam.db
projects